@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.light {
  name: "corporate";
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

  /* override default toast variables */
  --toastify-toast-padding: 0.5rem;
  --toastify-toast-min-height: auto;
}

.dark {
  name: "business";
  color-scheme: "dark";
  --color-base-100: oklch(24.353% 0 0);
  --color-base-200: oklch(22.648% 0 0);
  --color-base-300: oklch(20.944% 0 0);
  --color-base-content: oklch(84.87% 0 0);
  --color-primary: oklch(41.703% 0.099 251.473);
  --color-primary-content: oklch(88.34% 0.019 251.473);
  --color-secondary: oklch(64.092% 0.027 229.389);
  --color-secondary-content: oklch(12.818% 0.005 229.389);
  --color-accent: oklch(67.271% 0.167 35.791);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27.441% 0.013 253.041);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(62.616% 0.143 240.033);
  --color-info-content: oklch(12.523% 0.028 240.033);
  --color-success: oklch(70.226% 0.094 156.596);
  --color-success-content: oklch(14.045% 0.018 156.596);
  --color-warning: oklch(77.482% 0.115 81.519);
  --color-warning-content: oklch(15.496% 0.023 81.519);
  --color-error: oklch(51.61% 0.146 29.674);
  --color-error-content: oklch(90.322% 0.029 29.674);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

  /* override default toast variables */
  --toastify-toast-padding: 0.5rem;
  --toastify-toast-min-height: auto;
}

* {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.color-base-100 {
  background-color: var(--color-base-100);
}
.color-base-200 {
  background-color: var(--color-base-200);
}
.color-base-300 {
  background-color: var(--color-base-300);
}
.color-accent {
  background-color: var(--color-accent);
}
.color-primary {
  background-color: var(--color-primary);
}
.color-secondary {
  background-color: var(--color-secondary);
}
.color-neutral {
  background-color: var(--color-neutral);
}
.color-info {
  background-color: var(--color-info);
}
.color-success {
  background-color: var(--color-success);
}
.color-error {
  background-color: var(--color-error);
}
.color-warning {
  background-color: var(--color-warning);
}

.color-base-content {
  color: var(--color-base-content);
}
.color-primary-content {
  color: var(--color-primary-content);
}
.color-secondary-content {
  color: var(--color-secondary-content);
}
.color-accent-content {
  color: var(--color-accent-content);
}
.color-neutral-content {
  color: var(--color-neutral-content);
}
.color-info-content {
  color: var(--color-info-content);
}
.color-success-content {
  color: var(--color-success-content);
}
.color-error-content {
  color: var(--color-error-content);
}
.color-warning-content {
  color: var(--color-warning-content);
}

.bg-grid-lines {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 20px 20px;
}
.bg-grid-lines-light {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.infinite-bar > div {
  animation: slide-bar 1.25s ease-in-out infinite;
}

/* pure-css keyframes */
@keyframes slide-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* override default toast mobile behaviour */
@media only screen and (max-width: 480px) {
  .Toastify__toast-container .Toastify__toast {
    --toastify-toast-width: 50% !important;
    --toastify-toast-padding: 0.5rem !important;
    border-radius: 6px !important;
    margin-top: 0.5rem;
  }
}
